a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: darkgrey;
}
li {
  list-style: none;
  text-align: center;
}
ul{
  margin: 10px 0px;
  padding: 0px;
}
.pasokan {
  text-align: center;
  background-color: grey;
  margin: 0rem 35rem;
  padding: 50px 10px;
}